{{!< login}}

{{#contentFor 'body'}}

<form method="POST" action="/login">
<label>email</label>
<input name="email" type="email"/>

<label>password</label>
<input name="password" type ="password"/>
<button type="submit">LOGIN</button>



</form>


{{/contentFor}}


